@import './media-queries';

$background1: rgba(196, 196, 196, 0.6);
$blue1: #2691d9;
$blue2: #3498db;
$boxShadow1: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$fallBackFont: sans-serif;
$mainFont: "Roboto";
$red1: rgba(121, 5, 5, 0.65);
$red2: rgba(121, 5, 5, 0.9);
$trueBlack: #000000;
$trueWhite: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

//Login Page
#login-page {
  background-position: center;
  background-size: cover;
  background: url("../images/login-pic.jpg");
  height: 100vh;
}

#login-page:after {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.login-form {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  left: 50%;
  padding: 60px 32px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  z-index: 999;

  header,
  h2 {
    color: $trueWhite;
    font-family: $mainFont, $fallBackFont;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
  }
}

.field {
  background: rgba(255, 255, 255, 0.94);
  display: flex;
  height: 45px;
  position: relative;
  width: 100%;

  span {
    color: #222;
    line-height: 45px;
    width: 40px;
  }

  input {
    background: transparent;
    border: none;
    color: #222;
    font-family: "Poppins", $fallBackFont;
    font-size: 16px;
    height: 100%;
    outline: none;
    width: 100%;
  }
}

.space {
  margin-top: 16px;
}

.submit-button {
  background: $blue2;
  border: 1px solid $blue1;
  color: $trueWhite;
  cursor: pointer;
  font-family: $mainFont, $fallBackFont;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;

  input[type="submit"]:hover {
    background: $blue1;
  }
}

.login {
  color: $trueWhite;
  font-family: "Poppins", $fallBackFont;
  margin: 20px 0;
}

//Manager Portal
#manager-portal {
  display: flex;
  height: 100vh;

  aside {
    background-position: center;
    background-size: cover;
    background: url("../images/staircase.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 30%;
  }
}

.overview-card {
  background-color: $background1;
  height: 25%;
  margin: 5%;
  overflow: scroll;
  padding: 5%;

  p {
    font-size: 20px;
    padding-top: 5%;
  }
}

.overview-card:hover {
  background-color: rgba(196, 196, 196, 0.9);
}

// main portal
#main-portal {
  width: 70%;

  header {
    background: $background1;
    display: flex;

    img {
      height: auto;
      max-width: 12%;
    }

    h1 {
      font-size: 40px;
      margin-left: 2%;
      position: relative;
      top: 30%;
    }
  }
}

#manager-guest-section {
  background: $background1;
  box-shadow: $boxShadow1;
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  margin: 3% 3% 3% 5%;
  overflow: scroll;
  width: 80%;
}

.search-bar {
  border: 1px solid $trueBlack;
  box-sizing: border-box;
  display: flex;
  margin: 3% 20%;

  input {
    font-size: 25px;
    height: 60px;
    padding-left: 2%;
    width: 100vw;
  }
}

.search-btn {
  width: 25%;

  img {
    height: auto;
    max-width: 75%;
  }
}

.search-bar input,
.search-btn {
  background: rgba(196, 196, 196, 0.35);
  border: none;
  box-shadow: $boxShadow1;
}

.guest-section {
  background: brand1;
  border: 2px solid $trueBlack;
  margin: 8%;
}

//User Portal
#customer-portal {
  display: flex;

  aside {
    background-position: center;
    background-size: cover;
    background: url("../images/staircase.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 30%;
  }
}

.booking-list {
  left: 30%;
  padding-top: 3%;
  position: relative;
}

.book-room-section {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.filter-room-buttons {
  width: 20%;

  img {
    width: 50%;
    margin: 9% 40% 0%;
  }
}

.residential-suite-btn {
  background: url("../images/presidential-suite.jpg");
}

.suite-btn {
  background: url("../images/suite.jpg");
}

.junior-suite-btn {
  background: url("../images/junior-suite.jpg");
}

.single-room-btn {
  background: url("../images/single-room.jpg");
}

#date-picker {
  border: $trueBlack 1px solid;
  margin: 10% 35% 15%;
}

.room-buttons {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: $trueWhite;
  font-size: 22px;
  height: 130px;
  margin: 5% 35%;
  width: 130px;
}

.room-buttons:hover {
  background: $background1;
  color: $trueBlack;
  height: 140px;
  margin: 5% 32%;
  width: 140px;
}

#rooms-section {
  background: $background1;
  box-shadow: $boxShadow1;
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  margin: 3% 3% 3% 5%;
  overflow: scroll;
  width: 80%;
}

.room-card {
  background-color: $red1;
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-around;
  margin: 2% 5%;
  width: 40%;

  h3 {
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
  }

  .room-info {
    background-color: $background1;
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-evenly;
    margin: 0% 4%;
    text-align: center;

    p {
      font-size: 20px;
    }
  }

  button {
    background: $background1;
    font-size: 18px;
    height: 8%;
    margin: 2% 4%;
  }

  button:hover {
    background-color: $red2;
    color: $trueWhite;
  }
}

.hidden {
  display: none;
}
